<div class="mg-t10">
    <app-header title="Transfer Tokens" icon="fa-paper-plane">
        <button mat-mini-fab color="primary" matTooltip="Submit" (click)="submit()" [disabled]="credForm?.invalid || !model || !model.transfers">
            <app-fa-icon icon="fa-paper-plane"></app-fa-icon>
        </button>
    </app-header>
    <mat-card class="mg-t10">
        <mat-card-header class="ai-c">
            <div mat-card-avatar>
                <app-fa-icon class="fa-2x" icon="fa-crosshairs"></app-fa-icon>
            </div>
            <mat-card-title>
                <small>Target</small>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="w-100">
                <div class="row pd-5">
                    <app-dropzone buttonText="Spreadsheet File (CSV)" accept=".csv" (fileSelected)="csvInputChange($event)" (fileRemoved)="resetFields()"></app-dropzone>
                </div>
                <div>
                    <table class="w-100 transfer-table" mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="RetailWalletId">
                            <th mat-header-cell *matHeaderCellDef>Retail Wallet Id</th>
                            <td mat-cell *matCellDef="let element">
                                <p>{{ element.retailWalletId }}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef>Amount</th>
                            <td mat-cell *matCellDef="let element">
                                <p>{{ element.amount }}</p>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="csvColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: csvColumns"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="mg-t10" *ngIf="model">
        <mat-card-header class="ai-c">
            <div mat-card-avatar>
                <app-fa-icon class="fa-2x" icon="fa-key"></app-fa-icon>
            </div>
            <mat-card-title>
                <small>Credentials</small>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="w-100">
                <form #credForm="ngForm">
                    <mat-form-field appearance="standard" class="pd-x10">
                        <mat-label>Passphrase</mat-label>
                        <input matInput required type="password" [(ngModel)]="model.credentials.passphrase" name="passphrase" />
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
