<div class="container mg-t10">
  <div class="row">
    <div class="col-12">
      <app-header title="Create Issuer Wallet Seed" icon="fa-seedling">
        <button
          mat-mini-fab
          color="primary"
          matTooltip="Submit"
          (click)="submit()"
        >
          <app-fa-icon icon="fa-save"></app-fa-icon>
        </button>
      </app-header>
    </div>
  </div>
  <div class="row mg-y5">
    <div class="col-12">
      <mat-card *ngIf="model">
        <mat-card-content>
          <form class="pd-5">
            <div class="w-100">
              <mat-form-field appearance="standard" class="pd-x10">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  placeholder="ABC Seed"
                  [(ngModel)]="model.name"
                  name="name"
                />
              </mat-form-field>
            </div>
            <div class="w-100">
              <mat-form-field appearance="standard" class="pd-x10">
                <mat-label>Passphrase</mat-label>
                <input
                  matInput
                  required
                  type="password"
                  [(ngModel)]="model.credentials.passphrase"
                  name="passphrase"
                />
                <mat-hint *ngIf="passphraseMessage" class="clr-dgr">{{
                  passphraseMessage
                }}</mat-hint>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
