<div class="mg-t10">
    <app-header title="Issuer Wallet Seeds" icon="fa-seedling">
        <button mat-mini-fab color="primary" matTooltip="Create new issuer wallet seed" (click)="createNewSeed()">
            <app-fa-icon icon="fa-plus"></app-fa-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Reload list" (click)="loadIssuerWalletSeeds()">
            <app-fa-icon icon="fa-sync"></app-fa-icon>
        </button>
    </app-header>
    <div class="mg-y10">
        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let issuerWalletSeed of issuerWalletSeeds; let i = index" [expanded]="i === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title
                        ><strong>{{ getSeedName(issuerWalletSeed) }}</strong></mat-panel-title
                    >
                </mat-expansion-panel-header>
                <div class="seed-content">
                    <div class="flx ai-c">
                        <mat-chip-list class="mg-r2">
                            <mat-chip color="primary">
                                <i class="fa fa-fw fa-clock mg-r1"></i>
                                {{ issuerWalletSeed.createdDt | date: 'dd.MM.yyyy HH:mm:ss' }}
                            </mat-chip>
                        </mat-chip-list>
                        <button type="button" mat-mini-fab color="primary" matTooltip="Derive new wallet from this seed" (click)="deriveNewWallet(issuerWalletSeed.id)">
                            <i class="fa fa-fw fa-share-alt"></i>
                        </button>
                        <button type="button" mat-mini-fab color="primary" matTooltip="Create a new token" (click)="createNewToken(issuerWalletSeed.id)">
                            <i class="fa fa-fw fa-coins"></i>
                        </button>
                    </div>
                    <hr class="mg-y5" />
                    <ng-container *ngIf="issuerWalletSeed.wallets && issuerWalletSeed.wallets.length > 0">
                        <h2>Issuer wallets ({{ issuerWalletSeed.wallets.length }})</h2>
                        <mat-grid-list cols="2">
                            <mat-grid-tile *ngFor="let wallet of issuerWalletSeed.wallets">
                                <app-issuer-wallet class="w-90" [wallet]="wallet" (showQrCodeClicked)="showAddressQrCode($event)"></app-issuer-wallet>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </ng-container>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<ng-template #qrTpl>
    <div class="ta-c">
        <qr-code [value]="publicAddress" size="400" errorCorrectionLevel="H"></qr-code>
        <p>{{ publicAddress }}</p>
    </div>
</ng-template>
