mat-toolbar {
    .mat-form-field {
        font-size: 12px;
    }
    .tb-spacer {
        flex: 1 1 auto;
    }
}

.icon {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    &.spin {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}