<div class="mg-t10">
    <app-header title="Create Token" icon="fa-coins">
        <button mat-mini-fab color="primary" matTooltip="Submit" (click)="submit()">
            <app-fa-icon icon="fa-save"></app-fa-icon>
        </button>
    </app-header>
    <mat-card class="mg-t10" *ngIf="model && formReady">
        <mat-card-header class="ai-c">
            <div mat-card-avatar>
                <app-fa-icon class="fa-2x" icon="fa-wallet"></app-fa-icon>
            </div>
            <mat-card-title>
                <small>Wallets to use</small>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Issuer Wallet</mat-label>
                    <mat-select [(ngModel)]="issuerWalletId" name="issuerWalletId" required>
                        <mat-option *ngFor="let wallet of getIssuerWallets()" [value]="wallet.id">
                            {{ wallet.name }}
                        </mat-option>
                    </mat-select></mat-form-field
                >
            </div>
            <div *ngIf="issuerWalletId" class="animate__animated animate__flipInX w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Distributor Wallet</mat-label>
                    <mat-select [(ngModel)]="model.distributorWalletId" [disabled]="!issuerWalletId" name="distributorWalletId">
                        <mat-option *ngFor="let wallet of getDistributorWallets()" [value]="wallet.id">
                            {{ wallet.name }}
                        </mat-option>
                    </mat-select></mat-form-field
                >
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="mg-t10" *ngIf="model && formReady">
        <mat-card-header class="ai-c">
            <div mat-card-avatar>
                <app-fa-icon class="fa-2x" icon="fa-coins"></app-fa-icon>
            </div>
            <mat-card-title>
                <small>Token details</small>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Name</mat-label>
                    <input matInput required type="text" [(ngModel)]="model.name" name="name" placeholder="Bitcoin" />
                </mat-form-field>
            </div>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Unitname</mat-label>
                    <input matInput required type="text" [(ngModel)]="model.unitName" name="unitName" placeholder="BTC" maxlength="12" />
                </mat-form-field>
            </div>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Total supply</mat-label>
                    <input matInput required type="number" [(ngModel)]="model.totalSupply" name="totalSupply" placeholder="100000" min="1" max="922337203685" />
                </mat-form-field>
            </div>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Decimals</mat-label>
                    <input matInput required type="number" [(ngModel)]="model.decimals" name="totalSupply" placeholder="0" min="0" max="7" />
                </mat-form-field>
            </div>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Issuing message</mat-label>
                    <input matInput type="text" [(ngModel)]="model.issuingMemo" name="issuingMemo" placeholder="160E" />
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>
