<div class="mg-t10">
    <app-header title="Token: {{ tokenizedAsset?.name }}" icon="fa-coins">
        <button class="mg-r2" mat-mini-fab color="primary" matTooltip="Reload Details" (click)="loadTokenDetails()">
            <app-fa-icon icon="fa-sync"></app-fa-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Send Tokens" (click)="sendTokens()">
            <app-fa-icon icon="fa-paper-plane"></app-fa-icon>
        </button>
        &nbsp;
        <button mat-mini-fab color="primary" matTooltip="Clawback Tokens" (click)="clawbackTokens()">
            <app-fa-icon icon="fa-undo"></app-fa-icon>
        </button>
    </app-header>
    <mat-card class="mg-t10">
        <mat-card-header class="ai-c">
            <div mat-card-avatar>
                <app-fa-icon class="fa-2x" icon="fa-coins"></app-fa-icon>
            </div>
            <mat-card-title>
                <small>Token details</small>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="w-100" mat-table [dataSource]="tokenDetails">
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Property</th>
                    <td mat-cell *matCellDef="let element">
                        <strong>{{ element.key | uppercase }}</strong>
                    </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Value</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.value }}</span>
                        <button type="button" mat-icon-button class="mg-l1" color="primary" *ngIf="element.showCopy" [appCopyClipboard]="element.value">
                            <app-fa-icon icon="fa-copy"></app-fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="tokenDetailsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tokenDetailsColumns"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card class="mg-t10">
        <mat-card-content>
            <mat-toolbar>
                <span><app-fa-icon class="fa-2x" icon="fa-handshake"></app-fa-icon> Opt-Ins: {{ tokenizedAsset?.optIns?.length }}</span>
                <span class="tb-spacer"></span>
                <button
                    class="mg-x1"
                    mat-mini-fab
                    matTooltip="Download a CSV file containing a list of customers. Delete the users you don't want to select and reupload the file the select the remaining ones."
                    type="button"
                    (click)="downloadSelectionCustomerCSV()"
                >
                    <app-fa-icon icon="fa-download"></app-fa-icon>
                </button>
                <app-dropzone
                    class="mg-x1"
                    [iconMode]="true"
                    buttonText="Upload the CSV file with the list of users you want to select."
                    accept=".csv"
                    (fileSelected)="csvInputChange($event)"
                ></app-dropzone>
                <button mat-mini-fab matTooltip="Select all" type="button" (click)="toggleOptInSelection()">
                    <app-fa-icon *ngIf="optInsAllSelected" icon="fa-check-square"></app-fa-icon>
                    <app-fa-icon *ngIf="!optInsAllSelected" icon="fa-square"></app-fa-icon>
                </button>
                <button class="mg-x1" mat-mini-fab matTooltip="Authorize Opt-Ins" color="primary" type="button" [disabled]="!optInsAnySelected" (click)="showOptInDialog(true)">
                    <app-fa-icon icon="fa-thumbs-up"></app-fa-icon>
                </button>
                <button class="mg-x1" mat-mini-fab matTooltip="Revoke Opt-Ins" color="warn" type="button" [disabled]="!optInsAnySelected" (click)="showOptInDialog(false)">
                    <app-fa-icon icon="fa-undo"></app-fa-icon>
                </button>
            </mat-toolbar>
            <table class="w-100" mat-table [dataSource]="optInDataSource" matSort matSortActive="created" matSortDirection="desc">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
                    <td mat-cell *matCellDef="let element">
                        <a class="link" (click)="showCustomerWallets(element.customerId)">
                            {{ element.customerName }}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="walletAccess">
                    <th mat-header-cell *matHeaderCellDef>Wallet Access</th>
                    <td mat-cell *matCellDef="let element">
                        {{ RetailWalletAccessLevels[element.walletAccess] }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.created | date: 'dd.MM.yyyy HH:mm:ss' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="txs">
                    <th mat-header-cell *matHeaderCellDef>Transactions</th>
                    <td mat-cell *matCellDef="let element">
                        <ul class="tx-list">
                            <li *ngFor="let tx of element.txIds">
                                <strong>{{ TransactionActions[tx.txAction] }}</strong>
                                <a class="link" (click)="showTxInBlockchainExplorer(tx.txId)">
                                    <div class="elipsis">{{ tx.txId }}</div>
                                </a>
                                <span>{{ tx.created | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
                            </li>
                        </ul>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="mg-r5" *ngIf="element.isLoading">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </div>
                        <div *ngIf="!element.isLoading">{{ OptInStatus[element.status] }}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="modified">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.modified">{{ element.modified | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
                        <span *ngIf="!element.modified">-</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td class="ta-r va-m" mat-cell *matCellDef="let element">
                        <mat-checkbox name="selected-{{ element.txId }}" [(ngModel)]="element.isSelected"
                            (change)="checkSelections()"></mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="optInColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: optInColumns"></tr>
            </table>
            <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
        </mat-card-content>
    </mat-card>
    <mat-card class="mg-t10 mg-b5" *ngIf="tokenizedAsset">
        <mat-card-header class="ai-c">
            <div mat-card-avatar>
                <app-fa-icon class="fa-2x" icon="fa-exchange-alt"></app-fa-icon>
            </div>
            <mat-card-title>
                <small>Transfers</small>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="tokenizedAsset.transfers && tokenizedAsset.transfers.length > 0">
                <table class="w-100" mat-table [dataSource]="tokenizedAsset.transfers">
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef>Created</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.created | date: 'dd.MM.yyyy HH:mm:ss' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            {{ getTransferStatus(element.status) }}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="txId">
                        <th mat-header-cell *matHeaderCellDef>TxId</th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="showTxInBlockchainExplorer(element.txId)">
                                <div class="elipsis">{{ element.txId }}</div>
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fromAddress">
                        <th mat-header-cell *matHeaderCellDef>From</th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="showAddressInBlockchainExplorer(element.fromAddress)">
                                <div class="elipsis">{{ element.fromAddress }}</div>
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="toAddress">
                        <th mat-header-cell *matHeaderCellDef>To</th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="showAddressInBlockchainExplorer(element.toAddress)">
                                <div class="elipsis">{{ element.toAddress }}</div>
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.amount | number: '1.1-12' }}
                            {{ tokenizedAsset.unitName }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="transferColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: transferColumns"></tr>
                </table>
            </div>
            <div *ngIf="!tokenizedAsset.transfers || tokenizedAsset.transfers.length === 0">
                <p>No Transactions have been executed!</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #pwdDialog>
    <h2 matDialogTitle>Credentials</h2>
    <form #pwdForm="ngForm">
        <mat-dialog-content>
            <div class="w-100">
                <mat-form-field appearance="standard" class="pd-x10">
                    <mat-label>Passphrase</mat-label>
                    <input matInput required type="password" [(ngModel)]="model.credentials.passphrase"
                        name="passphrase" />
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="ta-r">
            <button mat-raised-button matDialogClose color="primary">Dismiss</button>
            <button mat-raised-button [disabled]="pwdForm?.invalid" (click)="submitOptIns()">Submit</button>
        </mat-dialog-actions>
    </form>
</ng-template>