@import '../../../assets/scss/colors';

.elipsis {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-toolbar {
    .tb-spacer {
        flex: 1 1 auto;
    }
}

.tx-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;

    strong {
        margin-right: 5px;
    }

    li {
        margin-bottom: 10px;
    }
}

.clawback {
    color: $dgr !important;
}