<div class="container mg-t10">
  <div class="row">
    <div class="col-12">
      <app-header
        title="Home"
        icon="fa-home"
        content="Suspendisse eget libero id mauris interdum finibus eu eu ipsum.
      Donec ex dui, lobortis et pellentesque a, porttitor et arcu. Donec
      feugiat sem massa, sit amet congue orci imperdiet vel. Etiam
      volutpat tellus mi, nec blandit est dignissim in. Vestibulum non
      nunc finibus, posuere est in, sodales massa. Nunc rhoncus odio vitae
      ipsum hendrerit suscipit. Vestibulum ante ipsum primis in faucibus
      orci luctus et ultrices posuere cubilia curae; Maecenas ultrices
      tellus in felis faucibus tincidunt. Quisque ac consequat quam. Sed
      quam elit, euismod in malesuada vel, consectetur at metus. Nullam
      sagittis interdum laoreet. In ac urna vel quam consequat finibus.
      Donec sed est non augue consectetur varius. Nunc dictum leo id
      faucibus semper. Nullam ligula ligula, viverra ac libero vel, luctus
      bibendum lorem."
      ></app-header>
    </div>
  </div>
  <div class="row mg-t10">
    <div class="col-12"></div>
  </div>
</div>
